.login-container{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 5%;
    
}

#form-container{
    display: flex;
    justify-content:space-between;
    border: 1px solid none;
    border-radius: 7px;
    background-color: rgb(41, 40, 40);
 
}

.login-container img{
    border-top-right-radius: 30px; 
    border-bottom-right-radius: 30px; 
    border-top-left-radius: 7px; 
    border-bottom-left-radius: 7px; 
    height: 500px;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    width: 400px;
}

legend{
    margin-top: 10%;
    margin-right: 4em;
    margin-bottom: 20%;
}

.formulaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.formulaire p{
   color: rgb(177, 173, 173);
   margin-left: 5px;
}

.formulaire h2{
    margin-left: 5px;
}

.formulaire form{
    display: flex;
    flex-direction: column;
    width: 250px;
}
.input {
    display: flex;
    flex-direction: column;
}

.input .error {
    color: #ff000d;
    font-size: 12px;
    margin: 5px 0;
    min-height: 10px;

}

.input.success input{
    border-color:green;;
}
.input.error input{
    border-color:#ff000d ;
}

#email, #password{
    height: 40px;
    width: 280px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid none;
}

.subBtn {
    margin-top: 10px;
    height: 40px;
    width: 280px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    background-color:#ff000d;
    cursor: pointer;
    padding: 1em 0;
}