* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}




/* ------- header --------*/
#header {
    width: 100%;
    height: 100px;
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#logo{
    width: 140px;
    font-size: xx-large;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

#first-letter{
    color: #ff000d;
    font-weight: bolder;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 13px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff000d;
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.fa-magnifying-glass{
    color:white;
}

.bi-search{
    cursor: pointer;
}

/*--------------- search-form ----------------*/

.search-form {
    margin-bottom: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.searche-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2b2a2a;
    border-radius: 5px;
    width: 90%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.searche-bar-1{
    display: flex;
    align-items: center;
    background-color: #2b2a2a;
    border-radius: 5px;
    padding-left: 10px ;

    width: 100%;
    height: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.searche-bar:hover {
    background-color: #3b3a3a;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
    transition: background-color 0.5s, color 1s;

}

.search-button:hover{
    transform: scale(1.3);
    color:#fff;
}

#search-input {
    flex: 1;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #c7c7c7;
    background-color: #2b2a2a;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
}

#search-input:focus {
    background-color: #3b3a3a;
    color: #fff;
}

.bi-x-circle {
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;
}

.bi-x-circle:hover {
    transform: scale(1.2);
    color:#ff000d;
}

#search-results{
    display: none;
    flex-direction: column;
    overflow-y: auto;
    opacity: 0;
    width: 100%;    
    background-color: #302c2c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#search-results::-webkit-scrollbar {
    display: none; 
}

.sub-container-row {
    display: flex;
    align-items: center;
    padding-left: 1em;
    padding-top: 10px;
    text-decoration: none;
    color: white;

    gap: 3em;
    border-bottom: 2px solid white;
    padding-bottom: 1em; 
    width: 100%;
}


.sub-container-row img{
    height: 80px;
}

.sub-container-movie-info{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.sub-container-row:hover {
    background-color:gray;
    transition: transform 0.3s, color 0.3s;
    transform: scale(1.02);
}


#search-results.visible{
    display: flex; 
    opacity: 1; 
    height: 100%;
    max-height: 200px;
}



/* ----------- Container -------- */

.container-text{
    margin-top: 15%;
    margin-bottom: 20%;
    font-size: 30px;
}


.container-text h1{
    font-size: 50px;
    margin-top: 20px;
}

.container-text h1 span {
    color: #ff000d;
}


/* ---------- help -----------------*/

.help{
    padding:80px 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

.help-col-1{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-basis: 35% ;
}

.help-col-1 img{
    width: 100%;
    margin-top: 0;
    border-radius: 15px;
}

.help-col-2{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:#fff;
}

.help-col-2 p {
    font-size: 30px;
}

.custom-hr {
    height: 5px; 
    background-color: #645d5d; 
    border: none; 
    margin: 20px 0; 
}
/*----------------------- Acteur Form ----------------------*/

.container_acteur_form{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;
    gap: 1.5em;
   
}

.sub-container{
    background-image: url("../images/movies_collage.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid none;
    color: black;
    border-radius: 5px;
    gap: 1em;
    min-height: 400px;
    height: 100%;
    width: 900px;
}

.sub-container_2{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1em;
    border-radius: 5px;
    height: 100%;
    margin-top: 2%;
    margin-bottom: 2%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.title-form-acteur{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: larger;
    font-weight: 800;
}

#acteur-form {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: Arial, sans-serif;
}

#acteur-form .form-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

#acteur-form .form-control,
#acteur-form .form-control-image {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #2e2e2e;
    color: #fff;
}

#acteur-form .form-control-image {
    padding: 5px;
}

.form-control{
    margin-top: 10px; 
    margin-bottom: 20px;
}

#acteur-form #preview-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}

#acteur-form #preview-image {
    display: none;
    height: 100px; 
}

#acteur-form .sub-form-acteur {
    display: flex;
    justify-content: space-between;
}

#acteur-form .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#acteur-form .btn.sub {
    background-color:#ff000d;
    color: #ffffff;
}

#acteur-form .btn.sub:hover {
    background-color: #bd020b;

}

#acteur-form .btn:active {
    transform: scale(0.98);
}

.neon {
    text-shadow: 0 0 5px #91181e, 0 0 10px #91181e, 0 0 15px #91181e, 0 0 20px #91181e, 0 0 25px #91181e, 0 0 30px #ff000d, 0 0 35px #ff000d;
}

.error-message{
   
    color: #ff000d;
}

.mb-3{
    width: 300px;
}



/*--------------------------- acteurs / realisateurs -----------------------*/
.container-names{
    margin-left: 7%;
    color:#fff;
    display: flex;
    flex-direction: column;
    gap:1em;
    margin-bottom: 20%;
}

.container-names h1{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
}

.container-names h3{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
}

.acteurs-realisateurs{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    margin-bottom: 15px;

}

.cat1 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    border: 1px solid none; 

    width: 210px;
    cursor: pointer;
    
}

.cat1 img {
    width: 200px; /* Fixe la largeur des images */
    height: 300px; /* Fixe la hauteur des images */
    border: 1px solid none; 
    border-radius: 15px;
    object-fit: cover; /* Assure que l'image couvre tout l'espace en gardant son ratio */
}

.cat1 span {
    font-size: 16px; 
    font-weight: bold; 
    color: white; 
    margin-top: 5px;
}

.hr-acteurs{
    height: 1px; 
    background-color: #645d5d; 
    border: none; 
    margin-bottom: 10px;

}
.container-add-acteur{
    display: flex;
    justify-content: space-between;
}

.container-add-acteur a{
    text-decoration: none;
    color: white;
    margin-right: 7%;
    transition: background-color 0.5s, color 0.5s;

}

.container-add-acteur a:hover{
    color: #ff000d;
    transform: scale(1.2) ;
}

/*--------------------------- films ---------------------------*/
.container-films    {
    margin-left: 7%;
    margin-top: 2%;
    color:#fff;
    display: flex;
    flex-direction: column;
    gap:1em;
    margin-bottom: 20%;
}

.container-films h1{
    font-size: 60px;
    font-weight:bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-films h4{
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 5%;
}

.film-categorie{
    display: flex;
    flex-direction: column;
}

.film-categorie-name{
    font-size: 20px;
    margin-bottom: 1%;
}

.film-categorie-name a{
   text-decoration: none;
   color: white;
   font-size:large;

}

.carousel-container {
    display: flex;
    align-items: center;
    margin-left: -30px;
    margin-right: 30px;

}

.films{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 3em;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
}

.films::-webkit-scrollbar {
    display: none; 
}

.film-min {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    gap: 10px;
    text-decoration: none;
    color: inherit;
    margin-right: 10px;
}

.image-container {
    position: relative;
}

.image-container img {
    display: block;
    width: 275px;
    height: 120px;
}

.seen-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    padding: 5px;
    color: #fff;
    transition: opacity 0.3s ease;
}
.watch-list-icon{
    position: absolute;
    top: 35px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    padding: 5px;
    color: #fff;
    transition: opacity 1s ease;
}

.hidden {
    opacity: 0;
}

.film-min:hover .watch-list-icon{
    opacity: 1;
    background-color: #ff000d;
}

.film-min:hover .seen-icon{
    opacity: 1;
    background-color: #ff000d;

}

.cat1 {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
}

.cat1:hover .bi-trash3 {
    opacity: 1;
    background-color: #ff000d;

}

.bi-trash3 {
    position: absolute;
    top: 5px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    padding: 5px;
    color: #fff;
    transition: opacity 0.3s ease;
}



.carousel-arrow {
    margin-top: -80px;
    display: flex;
    color:#ff000d;
    padding: 10px;
    cursor: pointer;
    z-index: 1; 
}

.left-arrow {
    order: -1; 
}

.right-arrow {
    order: 1; 
}

.arrow-hidden {
    visibility: hidden;
}


/*--------------------------- tags ---------------------------*/
.container-tags{
    margin-left: 7%;
    margin-right:1%;
    color:#fff;
    display: flex;
    flex-direction: column;
    gap:1em;
    margin-bottom: 20%;
}

.container-tags h1{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
}

.container-tags h3{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content:start;
    gap: 1.5em;
}

.categories a{
    border: 1px solid none;
    border-radius: 10px;
    width: 280px;
    height: 150px ;
    background-image: url("../images/tags-background.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
}

/*-------- moviesTag --------*/

.films-tag{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1em;
    margin-bottom: 3em;
    overflow: auto;
    scroll-behavior: smooth;
    width: 100%;
}

.film-min-tag{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    gap: 10px;
    text-decoration: none;
    color: inherit;
    margin-right: 10px;
    margin-top: 1em;
}


/*---------------- movies -----------*/
.background {
    background-position:top;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
}

.container-movie {
    margin-left: 7%;
    margin-top: 7%;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 20%;
}

.infoMovie1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12%;
}

.infoMovie2 {
    display: flex;
    flex-direction: column;

    flex-basis: 40%;
    gap:1em
}

.acteur-scroll{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

}
.acteur-scroll img{
    border-radius: 10px;
    height: 250px;
    width: 180px;

}

.icons-movie {
    margin-top: 3%;
    display: flex;
    gap: 2em;
    cursor: pointer;
}

.icons-movie svg {
    background-color:rgb(80, 80, 82); 
    border-radius: 50%; 
    padding: 10px; 
    transition: background-color 1s ease; 
}

.icons-movie svg:hover {
    background-color:#ff000d ;
    width: 60px;
    height: 60px;
}

.hide-icon{
    display: none;
}


/*-- footer ----*/ 
.copyright{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    padding: 25px 0;
    position: absolute;

}



/*------- small screens -----*/
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1 {
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff000d;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}